doctype html
html
	head
		title Sandbox
		link(rel='stylesheet', href='styles/main.css')
	body
		h1 We used jade to generate this
		p It seems like it works!
		script(src='scripts/global.js')
		script(src='scripts/common.js')
		script(src='scripts/index.js')
		p some new text test
		p some more changes

		a(href='page2.html') Page 2