doctype html
html
	head
		title Page 2
		link(rel='stylesheet', href='styles/main.css')
	body
		h1 We used jade to generate this
		p It seems like it works!
		script(src='scripts/global.js')
		script(src='scripts/common.js')
		script(src='scripts/page2.js')
		p some new text test
		p some more changes

		a(href='index.html') Home